:root{
    --background:#f5f3f3;
    --accent: #8f2121b9;
    --text: #4e0000;
}

body {
    margin: 0;
    padding: 0;
    color: #4e0000;
    background-color: #f5f3f3;
    font-size: 1rem;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #4e0000;
}

.flex {
    display: flex;
    flex-direction: row;
}

.nav-img{
    height: 3vw;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list>li{
    padding: 0.5rem;
    margin: 0.5rem;
}

.nav-list>li>a{
    color: var(--accent);
}

#bag-list>a{
    color: var(--background);
    background-color: var(--accent);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.6rem 0.3rem #5a0e0ece;
}

#sign-list>a{
    color: var(--background);
    background-color: #b3648c;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.6rem 0.3rem #5a0e0ece; 
}

nav{
   justify-content: space-between;
   width: 100vw;
}